%li.dd-item
  %div.dd-item-inner
    = link_to spina.admin_inquiry_path(inquiry), class: 'button button-link button-small sortable-link' do
      = inquiry.name
      %small (#{inquiry.sent_at})
    %span{style: 'display: flex'}
      - if inquiry.is_new?
        %span.new-label{ style: 'margin-right: 12px' } New

      - if inquiry.unread?
        = link_to 'Mark as read', spina.mark_as_read_admin_inquiry_path(inquiry), method: :patch, class: 'button button-small', style: 'margin-right: 12px'

      = link_to 'Mark as spam', spina.mark_as_spam_admin_inquiry_path(inquiry), method: :patch, class: 'button button-small', style: 'margin-right: 12px'

      = link_to 'Delete', spina.admin_inquiry_path(inquiry), method: :delete, class: 'button button-danger button-small'
