- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'

  %nav#secondary.tabs
    %ul
      %li{class: "#{'active' if current_page?(admin_inquiries_path)}"}
        = link_to 'Inbox', admin_inquiries_path

      %li{class: "#{'active' if current_page?(read_admin_inquiries_path)}"}
        = link_to 'Read', read_admin_inquiries_path

      %li{class: "#{'active' if current_page?(spam_admin_inquiries_path)}"}
        = link_to 'Spam', spam_admin_inquiries_path

  #header_actions
    = link_to 'Empty spam', destroy_spam_admin_inquiries_path, method: :patch, class: 'button button-small button-danger'

.well
  - if @inquiries.any?
    .dd#pages_list
      %ol.dd-list
        = render partial: 'inquiry', collection: @inquiries
  - else
    %em No messages
