- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'

.well
  .horizontal-form
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Inquiry.human_attribute_name(:name)
      .horizontal-form-content
        = @inquiry.name
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Inquiry.human_attribute_name(:email)
      .horizontal-form-content
        = @inquiry.email
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Inquiry.human_attribute_name(:phone)
      .horizontal-form-content
        = @inquiry.phone
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Inquiry.human_attribute_name(:message)
      .horizontal-form-content
        = @inquiry.message
    .horizontal-form-group
      .horizontal-form-label
        = Spina::Inquiry.human_attribute_name(:created_at)
      .horizontal-form-content
        = @inquiry.created_at.strftime("%e %B %Y")

.pull-right
  - unless @inquiry.archived?
    = link_to t('spina.inquiries.mark_as_read'), spina.mark_as_read_admin_inquiry_path(@inquiry), method: :patch, class: 'button', data: {icon: 'k'}

  = link_to t('spina.delete'), spina.admin_inquiry_path(@inquiry), method: :delete, class: 'button button-danger button-link', data: {confirm: t('spina.inquiries.delete_confirmation', subject: @inquiry.name)}
