- content_for(:permanent_notice) do
  - unless current_account.robots_allowed?
    .permanent-notice.permanent-notice-info
      = icon('search')
      %p
        =t 'spina.pages.invisible_to_search_engines'
        %small=t 'spina.pages.invisible_to_search_engines_description'

%header#header
  .breadcrumbs= render_breadcrumbs seperator: '<div class="divider"></div>'

  .pull-right
    - if @inquiry.unread?
      = link_to 'Mark as read', spina.mark_as_read_admin_inquiry_path(@inquiry), method: :patch, class: 'button', style: 'margin-right: 12px'

    - if @inquiry.valid?
      = link_to 'Mark as spam', spina.mark_as_spam_admin_inquiry_path(@inquiry), method: :patch, class: 'button', style: 'margin-right: 12px'

    = link_to 'Delete', spina.admin_inquiry_path(@inquiry), method: :delete, class: 'button button-danger'

.well
  %table.inquiry-table
    %thead
      %tr
        %th Name
        %th Email
        %th Phone
        %th Sent

    %tbody
      %tr
        %td= @inquiry.name
        %td= mail_to @inquiry.email, @inquiry.email
        %td= link_to @inquiry.phone, "tel:#{@inquiry.phone}"
        %td= @inquiry.sent_at

.well.inquiry-message
  %h6 Message

  %div
    = simple_format @inquiry.message