<%= form_with(model: inquiry) do |f| %>
  <%= invisible_captcha %>

  <% if inquiry.errors.any? %>
    <div role="alert">
      <h2>
        <%= pluralize(inquiry.errors.count, "error") %>
        prevented the form from being submitted:
      </h2>

      <ul>
        <% inquiry.errors.full_messages.each do |error| %>
          <li>
            <%= error %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :phone %>
    <%= f.phone_field :phone %>
  </div>

  <div>
    <%= f.label :message %>
    <%= f.text_area :message, rows: 6 %>
  </div>

  <div>
    <%= f.button "Submit" %>
  </div>
<% end %>