= flash[:notice]

= form_for @inquiry do |f|
  - if @inquiry.errors.any?
    %p #{pluralize(@inquiry.errors.count, "error")} prevented the form from being submitted:
    %ul
      - @inquiry.errors.full_messages.each do |error|
        %li= error
  
  = inquiries_captcha

  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.text_field :email
  %div
    = f.label :phone
    = f.phone_field :phone
  %div
    = f.label :message
    = f.text_area :message
  %div
    = f.submit "Submit"