%p= "To #{@current_account.name},"

%p There is a contact form sent to the website. You can respond by replying to this email.

%table
  %tr
    %td Name
    %td= @inquiry.name
  %tr
    %td Email
    %td= @inquiry.email
  %tr
    %td Contact number
    %td= @inquiry.phone
  %tr
    %td Message
    %td= simple_format(@inquiry.message)
