%h1= "To #{@current_account.name},"

%p You've recieved a message from your website. Respond by replying to this email.

%table
  %tr
    %td Name
    %td= @inquiry.name
  %tr
    %td Email
    %td= @inquiry.email
  %tr
    %td Phone
    %td= @inquiry.phone
  %tr
    %td Message
    %td= simple_format(@inquiry.message)
